<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PuTuo_Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style type="text/css">html{overflow-x:hidden;overflow-y:hidden;}</style>
</head>
<body>
<div id="app">
    <v-app id="inspire">
        <!--<v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list dense>
                <v-list-item @click="">
                    <v-list-item-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Dashboard</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="">
                    <v-list-item-action>
                        <v-icon>settings</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Settings</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>-->

        <v-app-bar
                app
                clipped-left
                class="grey darken-4"
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Application</v-toolbar-title>
            <v-container padding: 0>
                <v-tabs  class="grey darken-4">
                    <v-tab @click="renderPage_1">Welcome</v-tab>
                    <v-tab @click="renderPage_2">Attribute</v-tab>
                    <v-tab @click="renderPage_3">Gen</v-tab>
                </v-tabs>
            </v-container>
        </v-app-bar>

        <v-content class="d-flex flex-row">
            <!--<v-container
                    fluid
                    fill-height
            >
                <v-layout
                        align-center
                        justify-center
                >
                    <v-flex shrink>
                        <v-tooltip right>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                        :href="source"
                                        icon
                                        large
                                        target="_blank"
                                        v-on="on"
                                >
                                    <v-icon large>mdi-code-tags</v-icon>
                                </v-btn>
                            </template>
                            <span>Source</span>
                        </v-tooltip>
                        <v-tooltip right>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                        icon
                                        large
                                        href="https://codepen.io/johnjleider/pen/bXNzZL"
                                        target="_blank"
                                        v-on="on"
                                >
                                    <v-icon large>mdi-codepen</v-icon>
                                </v-btn>
                            </template>
                            <span>Codepen</span>
                        </v-tooltip>
                    </v-flex>
                </v-layout>
            </v-container>-->
            <v-card class="grey darken-3" outlined tile style="height: 100%; width: 20%; float: left; position: relative">
                <v-card v-if="pageAside === 1" ountlined tile >
                    <v-card class="grey darken-2 mx-auto">
                        <v-card-text>
                            <div>Welcome,</div>
                            <p class="display-1 text--primary">
                                Friends!
                            </p>
                            <div class="text--primary">
                                Here's my playground.<br>
                                "an online city"
                            </div>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn
                                    text
                                    color="blue accent-4"
                                    onclick="window.location.href = './index.html'"
                            >
                                No, thanks.
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-card>
                <v-card v-if="pageAside === 2" ountlined tile >
                    <v-card-title class="grey darken-3">
                        Building Attributes
                        <v-spacer></v-spacer>
                        <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Search"
                                single-line
                                hide-details
                        ></v-text-field>
                    </v-card-title>
                    <v-data-table
                            :headers="headers"
                            :items="buildingAttrs"
                            :search="search"
                            class="grey darken-2"
                            ountlined tile

                    ></v-data-table>
                </v-card>
                <v-card v-if="pageAside === 3" ountlined tile >
                    <v-card class="grey darken-2 mx-auto">
                        <v-card-text>
                            <p class="display-1 text--primary">
                                I love you, Wang Yangyang!!!
                            </p>
                        </v-card-text>

                    </v-card>
                </v-card>
            </v-card>

            <iframe
                    id="scene"
                    frameBorder="0"
                    src="./demo_city_module3.6_putuo.html"
                    scrolling="no"
                    style="height: 100%; width: calc(100% - 20%); float: left; position: relative"
            >
            </iframe>
        </v-content>

        <v-footer app elevation="6">
            <span>&copy; 2020</span>
        </v-footer>
    </v-app>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    var table_attr = {
        height: {name: 'height', value: null},
        floor: {name: 'floor', value: null},
        coordinate: {name: 'co-ordinate(x, y)', value: null},
        boundSp: {name: 'bounding sphere radius', value: null},
        triangles: {name: 'triangles', value: null}
    };
    var vm = new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: { dark: true },}),
        data: ({ // () =>
            pageAside: 1,
            drawer: null,
            aside_width: "30%",
            search: '',
            headers: [
                {text: 'Attributes', align: 'start', sortable: false, value: 'name',},
                { text: 'Values', value: 'value', sortable: false }
            ],
            buildingAttrs: [
                table_attr.height,
                table_attr.floor,
                table_attr.coordinate,
                table_attr.boundSp,
                table_attr.triangles
            ]
        }),
        methods: {
            renderPage_1: function () {
                this.pageAside = 1;
            },
            renderPage_2: function () {
                this.pageAside = 2;
            },
            renderPage_3: function () {
                this.pageAside = 3;
            }
        }
    });
</script>
</html>